<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>document</title>
    <style>
       header{
        background-color: yellow;
        color: black;
        font-size: 35px; 
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        height: 50px;

        }  
        footer{
        position:fixed;
        bottom:0px;
        background-color: rgb(95, 131, 160);
        left:500px;
        width:60%;
        height:80px;
       }
      
#maindiv> div{
    text-align:center;
    font-size:40px;
}
       </style>
       </head>
       
       <body bgcolor="lightpink">
        <div id="maindiv">
            <div id="a">
                <p>THE TAJ MAHAL</p>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwQuoHlFI7JMLexdj23Ox3e0B-BwAN3gFDSw&s"
                Width="500px">
            </div>
            <div id="about">
                The Taj Mahal, an architectural marvel located in Agra, India, is one of the most iconic and recognizable landmarks in the world.
                It was commissioned in 1631 by the fifth Mughal emperor, Shah Jahan to house the tomb of his beloved wife, Mumtaz Mahal; 
                it also houses the tomb of Shah Jahan himself.The Taj Mahal is an Islamic religious building,in India.
            </div>
            <div id="maindiv">
                <div id="a">
                    <p> THE REDFORT,DELHI</p>
                    <img src="https://media.istockphoto.com/id/520840182/photo/red-fort-lal-qila-with-indian-flag-delhi-india.jpg?s=612x612&w=0&k=20&c=pOIkOX7dnJh2zwJhF9HrknY7kwYZtDgOd1n98wkHCKQ="
                    Width="500px">
                </div>
                <div id="about">
                    The Red Fort, also known as Lal Qila is a historic fort in Delhi, India, that historically served as the main residence of the Mughal emperors. Emperor Shah Jahan commissioned construction of the Red Fort on 12 May 1639, when he decided to shift his capital from Agra to Delhi.
        </div>
        <div id="maindiv">
            <div id="a">
                <p>THE GATEWAY OF INDIA</p>
                <img src="https://res.cloudinary.com/simplotel/image/upload/x_0,y_1208,w_3492,h_1968,r_0,c_crop,q_80,fl_progressive/w_500,f_auto,c_fit/theory9---premium-service-apts/mumbai_gateway_of_india"
                Width="500px">
            </div>
            <div id="about">
                The Gateway of India is located on the waterfront at Apollo Bunder area at the end of Chhatrapati Shivaji Marg in South Mumbai and overlooks the Arabian Sea. The monument has also been referred to as the Taj Mahal of Mumbai, and is the city's top tourist attraction.
                
            </div>
                <div id="maindiv">
                    <div id="a">
                        <p>MYSORE PALACE</p>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNAjPXJa5LD3IhnOKG_rA2HTZzYUUZLmHTSw&s"
                        Width="500px">
                    </div>
                    <div id="about">
                        Mysore Palace, also known as Amba Vilas Palace, is a historical palace and a royal residence. It is located in Mysore, Karnataka, India.
                         Mysore palace was originally built in wood and was destroyed once by lightning,by Tipu Sultan. Current Mysore Palace is the fourth reconstruction, completed in 1912 and designed by British architect, Henry Irwin.
                        </div>
        <div class="header">
            <header>HISTORICAL PLACES IN INDIA</header>

        </div>
        <div>
        <footer>
            <p>Designed and developed by Bharti Kumari</p>

        </footer> </div>
       </body>
       </html>


        